* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5em;
}
    .navigation {
        height: 70px;
        background: #262626;
      }
      .brand {
        position: absolute;
        padding-left: 20px;
        float: left;
        line-height: 70px;
        text-transform: uppercase;
        font-size: 1.4em;
      }
      .brand a, .brand a:visited {
        color: #ffffff;
        text-decoration: none;
      }
      .nav-container {
        max-width: 1000px;
        margin: 0 auto;
      }
      nav {
        float: right;
      }
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      nav ul li {
        float: left;
        position: relative;
      }
      nav ul li a, nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 70px;
        background: #262626;
        color: #ffffff;
        text-decoration: none;
      }
      nav ul li a:hover, nav ul li a:visited:hover {
        background: #2581DC;
        color: #ffffff;
      }
      nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
        padding-left: 4px;
        content: ' ▾';
      }
      nav ul li ul li {
        min-width: 190px;
      }
      nav ul li ul li a {
        padding: 15px;
        line-height: 20px;
      }
      .nav-dropdown {
        position: absolute;
        display: none;
        z-index: 1;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
      }
      /* Mobile navigation */
      .nav-mobile {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: #262626;
        height: 70px;
        width: 70px;
      }
      @media only screen and (max-width: 798px) {
        .nav-mobile {
          display: block;
        }
        nav {
          width: 100%;
          padding: 70px 0 15px;
        }
        nav ul {
          display: none;
        }
        nav ul li {
          float: none;
        }
        nav ul li a {
          padding: 15px;
          line-height: 20px;
        }
        nav ul li ul li a {
          padding-left: 30px;
        }
        .nav-dropdown {
          position: static;
        }
      }
      @media screen and (min-width: 799px) {
        .nav-list {
          display: block !important;
        }
      }
      #nav-toggle {
        position: absolute;
        left: 18px;
        top: 22px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
      }
      #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: #ffffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
      }
      #nav-toggle span:before {
        top: -10px;
      }
      #nav-toggle span:after {
        bottom: -10px;
      }
      #nav-toggle.active span {
        background-color: transparent;
      }
      #nav-toggle.active span:before, #nav-toggle.active span:after {
        top: 0;
      }
      #nav-toggle.active span:before {
        transform: rotate(45deg);
      }
      #nav-toggle.active span:after {
        transform: rotate(-45deg);
      }
      article {
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px;
    }

#style1{
    width: 100%;
    height: 85vh;
    float: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/xinaliq.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#style2{
    width: 100%;
    height: 85vh;
    float: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Shamaxa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#style3{
    width: 100%;
    height: 85vh;
    float: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Qobustan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.tour_1 {
    width: 100%;
    min-height: 17vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    color: #555;
    padding-bottom: 5vh;
    transition: .3s linear;

}

.main_section2 {
    width: 100%;
    min-height: 65vh;
    float: left;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
}

.section2 {
    width: 65%;
    min-height: 65vh;
    float: left;
    display: flex;
    justify-content: space-between;
}

.card_e {
    min-height: 20vh;
    width: 32%;
    background-color: #ffffff;
    float: left;
    padding: 3vh;
    position: relative;
}

.img_tour1 {
    width: 100%;
    min-height: 25vh;
    float: left;
    background-image: url("../img/Lahic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img_tour2 {
    width: 100%;
    min-height: 25vh;
    float: left;
    background-image: url("../img/Shamahi-gabala.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img_tour3 {
    width: 100%;
    min-height: 25vh;
    float: left;
    background-image: url("../img/Qobustan\,absheron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img_tour4 {
    width: 100%;
    min-height: 25vh;
    float: left;
    background-image: url("../img/3-ночи-4-дня--1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img_tour5 {
    width: 100%;
    min-height: 25vh;
    float: left;
    background-image: url("../img/3-ночи-4-дня--2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img_tour6 {
    width: 100%;
    min-height: 25vh;
    float: left;
    background-image: url("../img/3-ночи-4-дня--3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.stylyh3{
    font-size: 20px;
    padding-top: 28vh;
    color: #417094;
    font-weight: 600;
}

.styleh1{
    color: #555;
    font-size: 35px;
    font-weight: 600;
}

.card_e p {
    padding-top: 2vh;
    line-height: 1.5em;
    color: #555;
}

.cash {
    width: 100%;
    min-height: 3vh;
    float: left;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 4vh;
    position: absolute;
    top: 56vh;
    right: 3vh;
}

.tour_2 {
    width: 100%;
    min-height: 17vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    color: #555;
    padding-top: 18vh;
}

.main_section3 {
    width: 100%;
    min-height: 114vh;
    float: left;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
}

.section3 {
    width: 65%;
    min-height: 114vh;
    float: left;
    display: flex;
    justify-content: space-between;
    padding-top: 10vh;
}

.cash1 {
    width: 100%;
    min-height: 3vh;
    float: left;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 4vh;
    position: absolute;
    top: 95vh;
    right: 3vh;
}

.main_section4 {
    width: 100%;
    min-height: 50vh;
    float: left;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.section4 {
    width: 65%;
    min-height: 50vh;
    float: left;
    display: flex;
    justify-content: space-between;
}

.block_car {
    width: 49%;
    min-height: 50vh;
    background-color: #fff;
    float: left;
}

.car1 {
    width: 43%;
    min-height: 20vh;
    background-image: url('../img/Mercedes-Sprinter-1-thumb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-left: 3vh;
    margin-top: 3vh;
}

.car2 {
    width: 43%;
    min-height: 20vh;
    background-image: url('../img/Mercedes-Vito-2008-01-3-thumb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-left: 3vh;
    margin-top: 3vh;
}

.car3 {
    width: 43%;
    min-height: 21vh;
    background-image: url('../img/Hyuindai-Santa-Fe-2010-01-1-thumb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin-left: 3vh;
    margin-top: 3vh;
}

.car4 {
    width: 43%;
    min-height: 21vh;
    background-image: url('../img/Toyota-Land-Cruiser-01-1-thumb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-left: 3vh;
    margin-top: 3vh;
}

.block_car1 {
    width: 49%;
    min-height: 50vh;
    background-color: #fff;
    float: left;
    padding: 3vh;
    text-align: justify;
    position: relative;
    color: #666;
}

.block_car1 p {
    padding-top: 7vh;
}

.btn_car {
    position: absolute;
    top: 303px;
    left: 154px;
    padding: 10px 20px;
    font-size: 1em;
    border: 0;
    text-decoration: none;
    background-color: #ec5a5a;
    color: #fff;
    border-radius: 3%;
    cursor: pointer;
    text-align: center;
    transition: all .5s;
}

.btn_car:hover {
    background-color: #f50b0b;
}

.footer {
    width: 100%;
    min-height: 40vh;
    float: left;
    background-color: #d3d3d3;
    padding-top: 18vh;
    display: flex;
    justify-content: center;
}

.block_footer {
    width: 100%;
    min-height: 40vh;
    background-color: #082f4e;
    float: left;
    display: flex;
    justify-content: space-around;
}

.section_footer {
    width: 18%;
    min-height: 40vh;
    float: left;
    padding-top: 2vh;
    color: #ffffff;
    text-align: justify;
}

.section_footer1 {
    width: 18%;
    min-height: 40vh;
    float: left;
    padding-top: 2vh;
    color: #ffffff;
    text-align: justify;
    display: flex;
    justify-content: center;
}

.section_footer a img {
    padding-bottom: 2vh;
}

.icon_e {
    font-size: 3vh;
    padding: 5px;
}

.icon_e a {
    text-decoration: none;
    color: #ffffff;
    font-size: 3vh;
    padding: 5px;
}

.icon_e a:hover {
    color: #6200ff;
    transition: all .5s;
}

#info_e {
    padding-top: 0px;
}

.section_footer ul {
    padding-top: 2vh;
    padding-left: 0px;
}

.section_footer ul a {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

.section_footer p {
    padding-top: 2vh;
}

.section_footer h3{
    font-size: 22px;
    font-weight: 600;
}

.section_footer ul a li:hover {
    padding-left: 10px;
    transition: all .5s;
    color: #6200ff;
}

.add_footer {
    width: 100%;
    min-height: 3vh;
    background-color: #3d3737;
    float: left;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.anchor {
    width: 30px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 100;

}

.icon_up {
    font-size: 4vh;
    color: #ffffff;
    background-color: #751212;
    border-radius: 30%;
}